body {margin:0;                      
}

.nav ul {
list-style: none;
background-color: #006400;
text-align: center;

margin-top:1px;

}

.nav a {
text-decoration: none;
color: #fff;
display: block;
transition: .3s background-color;
text-align: center;
}

.nav a:hover {
background-color: #ddd;
color: black;
}

.nav a.active {
background-color: #4C98AF;
color: white;
cursor: default;
}

@media screen and (min-width: 600px) {
.nav li {
 width: 120px;
 border-bottom: none;
 height: 50px;
 line-height: 50px;
 font-size: 1.2em;
}

/* Option 1 - Display Inline */
.nav li {
 display: inline-block;
 margin-right: -4px;
}

.dropdown {
  float: right;
  
  
}

.dropdown .dropbtn {
  font-size: 16px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #4C98AF;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}




@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -36px;
  width: 40px;
  height: 40px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
.knockout {
  background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -30px -30px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 50px;
  font-family: arial, helvetica;
  width: 600px;
  margin: 20px auto;
  text-align: center;
}

body{
  background: #444;
}


/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: relative;
  top: 20%;
  left: 80%;
  margin-bottom: 10px;
  padding-bottom: 1%;
  transform: translate(-50%, -50%);
}


.responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border-radius: 10px;
    border: 1px solid #167F92;
  }
  .responstable tr {
    border: 1px solid #D9E4E6;
  }
  .responstable tr:nth-child(odd) {
    background-color: #EAF3F3;
  }
  .responstable th {
    display: none;
    border: 1px solid #FFF;
    background-color: #167F92;
    color: #FFF;
    padding: 1em;
  }
  .responstable th:first-child {
    display: table-cell;
    text-align: center;
  }
  .responstable th:nth-child(2) {
    display: table-cell;
  }
  .responstable th:nth-child(2) span {
    display: none;
  }
  .responstable th:nth-child(2):after {
    content: attr(data-th);
  }
  @media (min-width: 480px) {
    .responstable th:nth-child(2) span {
      display: block;
    }
    .responstable th:nth-child(2):after {
      display: none;
    }
  }
  .responstable td {
    display: block;
    word-wrap: break-word;
    max-width: 7em;
  }
  .responstable td:first-child {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #D9E4E6;
  }
  @media (min-width: 480px) {
    .responstable td {
      border: 1px solid #D9E4E6;
    }
  }
  .responstable th, .responstable td {
    text-align: left;
    margin: .5em 1em;
  }
  @media (min-width: 480px) {
    .responstable th, .responstable td {
      display: table-cell;
      padding: 1em;
    }
  }
  
  body {
    padding: 0 2em;
    font-family: Arial, sans-serif;
    color: #024457;
    background: #f2f2f2;
  }
  
  h1 {
    font-family: Verdana;
    font-weight: normal;
    color: #024457;
  }
  h1 span {
    color: #167F92;
  }
  @import "compass/css3";
  
  
  // Default options for table style
  $table-breakpoint: 480px;
  $table-background-color: #FFF;
  $table-text-color: #024457;
  $table-outer-border: 1px solid #167F92;
  $table-cell-border: 1px solid #D9E4E6;
  
  // Extra options for table style (parse these arguments when including your mixin)
  $table-border-radius: 10px;
  $table-highlight-color: #EAF3F3;
  $table-header-background-color: #167F92;
  $table-header-text-color: #FFF;
  $table-header-border: 1px solid #FFF;
  
  // The Responstable mixin
  
  @mixin responstable(
    $breakpoint: $table-breakpoint,
    $background-color: $table-background-color,
    $text-color: $table-text-color,
    $outer-border: $table-outer-border,
    $cell-border: $table-cell-border,
    $border-radius: none,
    $highlight-color: none,
    $header-background-color: $table-background-color,
    $header-text-color: $table-text-color,
    $header-border: $table-cell-border) {
    
    .responstable {
      margin: 1em 0;
      width: 100%;
      overflow: hidden;  
      background: $background-color;
      color: $text-color;
      border-radius: $border-radius;
      border: $outer-border;
    
      tr {
        border: $cell-border; 
        &:nth-child(odd) { // highlight the odd rows with a color
          background-color: $highlight-color;
        }  
      }
    
      th {
        display: none; // hide all the table header for mobile
        border: $header-border;
        background-color: $header-background-color;
        color: $header-text-color;
        padding: 1em;  
        &:first-child { // show the first table header for mobile
          display: table-cell;
          text-align: center;
        }
        &:nth-child(2) { // show the second table header but replace the content with the data-th from the markup for mobile
          display: table-cell;
          span {display:none;}
          &:after {content:attr(data-th);}
        }
        @media (min-width: $breakpoint) {
          &:nth-child(2) { // hide the data-th and show the normal header for tablet and desktop
            span {display: block;}
            &:after {display: none;}
          }
        }
      }
    
      td {
        display: block; // display the table data as one block for mobile
        word-wrap: break-word;
        max-width: 7em;
        &:first-child { 
          display: table-cell; // display the first one as a table cell (radio button) for mobile
          text-align: center;
          border-right: $cell-border;
        }
        @media (min-width: $breakpoint) {
          border: $cell-border;
        }
      }
    
      th, td {
        text-align: left;
        margin: .5em 1em;  
        @media (min-width: $breakpoint) {
          display: table-cell; // show the table as a normal table for tablet and desktop
          padding: 1em;
        }
      }  
      
    }    
  }
  
  // Include the mixin (with extra options as overrides)
  
  @include responstable(
    $border-radius: $table-border-radius,
    $highlight-color: $table-highlight-color,
    $header-background-color: $table-header-background-color,
    $header-text-color: $table-header-text-color,
    $header-border: $table-header-border);
  

  



      