<html>
    <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
      <div>
      <div>
          <style>
              body {margin:0;}
              
              .topnav {
                overflow: hidden;
                background-color: #333;
              
              }
              
              .topnav a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
              }
              
              .topnav a:hover {
                background-color: #0B4CC5;
                color: black;
              }
              
              .active {
                background-color: #4C98AF;
                color: white;
              }
              
              .topnav .icon {
                display: none;
              }
              
              @media screen and (max-width: 600px) {
                .topnav a:not(:first-child) {display: none;}
                .topnav a.icon {
                  float: right;
                  display: block;
                }
              }
              
              @media screen and (max-width: 600px) {
                .topnav.responsive {position: relative;}
                .topnav.responsive .icon {
                  position: absolute;
                  right: 0;
                  top: 0;
                }
                
              
              }
              </style>
        <img src="images/ems1.png"  height="100px" width="200px" margin=0px>          
      <nav class="topnav" id="myTopnav" role="navigation" style="padding-left:130px ;background-color:rgb(105, 25, 125) ">
             <ul class="nav navbar-nav">
                <li class="active"><a href="/secret">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/update">Update Employee</a></li>
            <li><a href="/viewemp">view</a></li>
            <li><a href="/event">View Events</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="">Leaves details</a></li>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </ul>
    </nav>
    </div>
      <br/>
      <div class="jumbotron">
      <p>
         <center>Islamabad College For Boys, G-6/3, spread over an area of around 15, 000 square yards <br></center><center>is set amidst picturesque and lush green landscape. The Location of the college is most ideally situated and provides an atmosphere befitting a modern<br> </center> <center>educational institution.

          It was 1966, that the idea of a model educational institution in the Federal Capital was transformed into a reality when the first Islamabad Model School for Boys, was established.</center>
      </p>
    </div>
      </div>
    </body>
    </html>