<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
      <div>
      <div>
          <style>
              body {margin:0;}
              
              .topnav {
                overflow: hidden;
                background-color: #333;
              
              }
              
              .topnav a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
              }
              
              .topnav a:hover {
                background-color: #0B4CC5;
                color: black;
              }
              
              .active {
                background-color: #4C98AF;
                color: white;
              }
              
              .topnav .icon {
                display: none;
              }
              
              @media screen and (max-width: 600px) {
                .topnav a:not(:first-child) {display: none;}
                .topnav a.icon {
                  float: right;
                  display: block;
                }
              }
              
              @media screen and (max-width: 600px) {
                .topnav.responsive {position: relative;}
                .topnav.responsive .icon {
                  position: absolute;
                  right: 0;
                  top: 0;
                }
                
              
              }
              </style>
        <img src="images/ems1.png"  height="100px" width="200px" margin=0px>          
      <nav class="topnav" id="myTopnav"  style="padding-left:130px ;background-color:rgb(105, 25, 125) ">
             <ul class="nav navbar-nav">
                <li class="active"><a href="/secret">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/viewemp">view</a></li>
            <li><a href="/event">View Events</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="">Leaves details</a></li>
            <li class="dropdown"> <a href="javascript:void(0)" class="services dropdown-toggle"  data-toggle="dropdown" role="button" aria-expanded="false">Diensten <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Webdesign</a></li>
                <li><a href="#">SEO</a></li>
                <li><a href="#">Internet marketing</a></li>
                <li><a href="#">Hosting diensen</a></li>
              </ul>
            </li>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </ul>
    </nav>
    </div>
      <br/>
     
    </div>
      </div>
    </body>
    </html>