<html>
    <head>
        <title>Employee Report</title>
    </head>
    <body>
        <div>
            <table cellpading="0" cellspacing="0">
                <tr>
                    <td colspan="2" style="font-size:medium;font-weight:bold;">
                        Sample Employee Data
                    </td>
                </tr>
                <tr>
                    <td>
                    Employee Id
                </td>
                <td>
                    Employee Name
                </td>
                <td>
                    Salary
                </td>
                </tr>

                {{#each employees}}
<tr>
    <td>
        {{_id}}
    </td>
    <td>
        {{empname}}
    </td>
    <td>
        {{empsal}}
    </td>
</tr>
{{/each}}
            </table>
        </div>
    </body>
</html>