<html>
    <head>
        <link href="/stylesheet/news.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>  
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  

    </head>
    <style>
    body {
      background-image: url("images/newback.jpg");
} 


</style>
     
      
      <div>
      
            <div><div  ><img src="images/ems.jpg"  height="80px" width="20%" margin=0px>
                <img src="images/empall.jpg"  height="80px" width="500px" align="right">
              </div>
                    <div class="nav">
                                <ul>
                            <li class="active"><a href="/secret">Home<span class="sr-only">(current)</span></a></li>
                             <li><a href="/register">Register</a></li>
                             <li><a href="/news">News</a></li>
                             <li><a href="/events">Events</a></li>
                             <li><a href="/events">Notifications</a></li>
                             
                                    <li class="Logout" style="float:right"><a href="/">Logout</a></li>
                                   
                
                
                                </ul>
                
                      </div>
  
   
    <form action="/addnews" method="POST"  >
        <center>
     <h1 style="color:rgb(207, 13, 13);">News Details</h1></center>
   
        <div class="form-row">

            <div class="form-group col-md-6 mb-6">
                <label for="validationServer01">News Title</label>
                <div class="input-group">
                 <div class="input-group-addon">
                <span class="glyphicon glyphicon-pencil"></span> 
                 </div>
        
                 <input type="text" name="field1" class="form-control is-valid" id="validationServer01" placeholder="Enter Title......" required>
                 
                </div>
               </div>

          <div class="col-md-6 mb-3">
            <label for="validationServer02">Sub Title</label>
            <div class="input-group">
                <div class="input-group-addon">
               <span class="glyphicon glyphicon-pencil"></span> 
                </div>
            <input type="text" name="field2" class="form-control is-valid" id="validationServer02" placeholder="Enter Sub Title......"  required>
          </div>
        </div>

          </div>
        </div>
        <br><br><br><br>
          <div class="col-md-6 mb-3 ">
            <label for="validationServer04">Date</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
            <input type="date" name="field5" class="form-control is-invalid" id="validationServer04" placeholder="Enter Date" required>
          </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="validationServer05">Description</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-pencil"></span>
                </div>

            <textarea class="form-control" name="field6" rows="5" id="comment"></textarea>
          </div>
          </div>
          
        <br><br><br><br>      <br><br><br><br>
        <center>
            <input type="image" src="images/submit.png" alt="Submit" width="250" height="150">
           <!-- <input type="submit" value="Register" />-->
      </form>
      
        <script>
        </script>
            </div>
            <div class="footer">
                <p></p>
              </div>

    
    
    </body>
             