<head>
    <link href="/stylesheet/register.css" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>  
  </head>
  <style>
  body {
  background-image: url("images/newback.jpg ");
  } 
  <style>
  body {margin:0;
  
  
  
  
  }
  
  .topnav {
  overflow: hidden;
  background-color: #333;
  
  }
  
  .topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }
  
  .topnav a:hover {
  background-color: #0B4CC5;
  color: black;
  }
  
  .active {
  background-color: #4C98AF;
  color: white;
  }
  
  .topnav .icon {
  display: none;
  }
  
  @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
  float: right;
  display: block;
  }
  }
  
  @media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
  }
  
  
  }
  
  .form-style-5{
  max-width: 500px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
  }
  .form-style-5 fieldset{
  border: none;
  }
  .form-style-5 legend {
  font-size: 1.4em;
  margin-bottom: 10px;
  }
  .form-style-5 label {
  display: block;
  margin-bottom: 8px;
  }
  .form-style-5 input[type="text"],
  .form-style-5 input[type="date"],
  .form-style-5 input[type="datetime"],
  .form-style-5 input[type="email"],
  .form-style-5 input[type="number"],
  .form-style-5 input[type="search"],
  .form-style-5 input[type="time"],
  .form-style-5 input[type="url"],
  .form-style-5 textarea,
  .form-style-5 select {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 7px;
  width: 100%;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  background-color: #e8eeef;
  color:#8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  
  }
  .form-style-5 input[type="text"]:focus,
  .form-style-5 input[type="date"]:focus,
  .form-style-5 input[type="datetime"]:focus,
  .form-style-5 input[type="email"]:focus,
  .form-style-5 input[type="number"]:focus,
  .form-style-5 input[type="search"]:focus,
  .form-style-5 input[type="time"]:focus,
  .form-style-5 input[type="url"]:focus,
  .form-style-5 textarea:focus,
  .form-style-5 select:focus{
  background: #d2d9dd;
  }
  .form-style-5 select{
  -webkit-appearance: menulist-button;
  height:35px;
  }
  .form-style-5 .number {
  background: #1abc9c;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 15px 15px 15px 0px;
  }
  
  .form-style-5 input[type="submit"],
  .form-style-5 input[type="button"]
  {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #FFF;
  margin: 0 auto;
  background: #1abc9c;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  }
  .form-style-5 input[type="submit"]:hover,
  .form-style-5 input[type="button"]:hover
  {
  background: #109177;
  }
  .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300%;
  background-color: #201C1C;
  color: white;
  text-align: center;
  }
  body1{
  background-color: rgb(187, 34, 34);
  }
  
  
  </style>
  </style>
  
  
  <div>
  <div>
     
    <img src="images/ems1.png"  height="100px" width="200px" margin=0px>            
  <nav class="topnav" id="myTopnav" role="navigation" style="padding-left:130px;background-color:rgb(105, 25, 125)">
         <ul class="nav navbar-nav">
            <li class="active"><a href="/secret">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/register">Register</a></li>
    
            <li><a href="/update">Update Employee</a></li>
            <li><a href="/viewemp">view</a></li>
            <li><a href="/event">View Events</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="">Leaves details</a></li>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              </ul>
      </ul>
  </nav>
  </div>
  <style type="text/css">
  .form-style-1 {
  margin:10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  .form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
  }
  .form-style-1 label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
  }
  .form-style-1 input[type=text], 
  .form-style-1 input[type=date],
  .form-style-1 input[type=datetime],
  .form-style-1 input[type=number],
  .form-style-1 input[type=search],
  .form-style-1 input[type=time],
  .form-style-1 input[type=url],
  .form-style-1 input[type=email],
  textarea, 
  select{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;  
  }
  .form-style-1 input[type=text]:focus, 
  .form-style-1 input[type=date]:focus,
  .form-style-1 input[type=datetime]:focus,
  .form-style-1 input[type=number]:focus,
  .form-style-1 input[type=search]:focus,
  .form-style-1 input[type=time]:focus,
  .form-style-1 input[type=url]:focus,
  .form-style-1 input[type=email]:focus,
  .form-style-1 textarea:focus, 
  .form-style-1 select:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
  }
  .form-style-1 .field-divided{
  width: 49%;
  }
  
  .form-style-1 .field-long{
  width: 100%;
  }
  .form-style-1 .field-select{
  width: 100%;
  }
  .form-style-1 .field-textarea{
  height: 100px;
  }
  .form-style-1 input[type=submit], .form-style-1 input[type=button]{
  background: #4B99AD;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
  }
  .form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
  background: #4691A4;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  }
  .form-style-1 .required{
  color:red;
  }
  .mytext {
  width: 300px;
  }
  </style>
  <form action="/empregister" method="POST">
  
  <h1>Employee Job Information</h1>
  <ul class="form-style-1">
  <li>
    <label>Department Name <span class="required">*</span></label>
    <input type="text" name="field7" class="field-long" placeholder="Enter Name"/>
  </li> 
  <li>
    <label>Work location<span class="required">*</span></label>
    <input type="text" name="field8" class="field-long" />
  </li>
    <li>
    <label>Start Date<span class="required">*</span></label>
    <input type="date" name="field9" class="field-long" />
  </li>
  <li>
    <label>Salary<span class="required">*</span></label>
    <input type="number" name="field10" class="field-long" placeholder="03023454345"/>
  </li>
  <br>
  <center>
  <input type="submit" value="Register" />
    
</center>
  </ul>
 

  </form>
  