<html>
    <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
      <div>
      <div>
        <img src="images/ems1.png"  height="100px" width="200px" margin=0px>
          <p><span style="font-weight:bold">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp&nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Employee Management System</span></p>
          
          <center>
          
      <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
             <ul class="nav navbar-nav">
                <li class="active"><a href="/secret">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/register">Register</a></li>
            
            <li><a href="/update">Update Employee</a></li>
            <li><a href="/viewemp">view</a></li>
            <li><a href="/event">View Events</a></li>
            <li><a href="">Events</a></li>
            <li><a href="">Leaves details</a></li>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </ul>
    </nav>
    </div>
      <br/>
      <div class="jumbotron">
      <p>
        Inserted Successfully!
      </p>
    </div>
      </div>
    </body>
    </html>